.git/
.venv/
venv/
**/node_modules/
**/dist/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite
*.zip
gcloud_sdk.zip
app/.adk/
app/.gemini/
data/
*.log
logs.json
.ipynb_checkpoints/
.DS_Store
.env
uv.lock
google-cloud-sdk/
